
.appheader {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: var(--bg-black);
}

.appheader-sign-in-branding {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.appheader-sign-in-branding img {
    height: 40px;
    margin-right: 10px;
}

.appheader ul img {
    height: 40px;
}



.appheader nav {
    flex-grow: 1;
}

.appheader nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "DM Sans"
}

.appheader nav ul li:last-child {
    margin-top: auto;
}

.appheader-user {
    display: flex;
    align-items: center;
}

.appheader-user img {
    height: 40px;
}

.appheader a {
    color: var(--light-grey);
    text-decoration: none;
    font-size: .85rem;
}