
.app-header-sign-in-branding {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.app-header-sign-in-branding img {
    height: 40px;
    margin-right: 10px;
}

ul img {
    height: 40px;
}