
.signin {
    display: flex;
    height: 100%;
    overflow: scroll;
}

.signin div:not(.signin-forgot-container) {
    width: 400px;
    max-width: 90%;
    margin: auto;
}

.signin hr {
    border-color: var(--grey);
    height: 1px;
    background-color: var(--grey);
    margin: 35px 0 26px 0;
}

.signin-form {
    display: flex;
    flex-direction: column;
}

.signin div h2 {
    color: var(--off-white);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2.6rem;
    margin-bottom: 20px
}

.signin .input input, .signin button {
    height: 45px;
    border-radius: 6px;
}

.signin .input input {
    color: var(--off-white);
    background-color: var(--dark-grey);
    border: 1px solid var(--grey);
    padding: 15px;
    margin-bottom: 20px;
}

.signin .input input:focus {
    outline: none;
    border: 2px solid var(--orange);
    padding: 14px;
}

.signin button {
    font-family: "DM Sans Reg", sans-serif;
    font-size: 1rem;
    color: var(--off-white);
    background-color: var(--orange);
    border: none;
}

.signin .input, .signin p {
    color: var(--light-grey);
    font-size: .9rem;
}

.signin .input, .signin p, .signin a {
    font-family: "DM Sans", sans-serif;
    
}

.signin a {
    color: var(--orange);
    text-decoration: none;
    font-size: .92rem;
}

.signin section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-forgot-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 20px;
    user-select: none;
}

.signin-forgot-container p {
    color: black;
    position: absolute;
    right: 121px;
    bottom: 18px;
    width: 179px;
    background-color: var(--off-white);
    padding: 2px 7px;
    border-radius: 10px;
    display: none;
    opacity: 0;
    transition: opacity .3s ease;
}

.signin-visible {
    opacity: .8 !important;
} 

.signin-display {
    display: block !important;
}

.signin section {
    padding-bottom: 20px;
}