
@font-face {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../assets/fonts/barlow-condensed/BarlowCondensed-Bold.woff2");
}

@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../assets/fonts/dm-sans/DMSans-Medium.woff2");
}

@font-face {
    font-family: "DM Sans Reg";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../assets/fonts/dm-sans/DMSans-Bold.woff2");
}