
.signinpage {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
}

@media (max-width: 900px) {

    .signinpage {
        flex-direction: column;
    }

    .signinpage main {
        min-height: 0;
    }

    .publicheader {
        width: 100%;
        overflow: visible;
    }

    .publicheader-sign-in-branding {
        align-self: center;
    }

    .publicheader-bg-img,
    .publicheader-slogan-container,
    .publicheader-description-container,
    .publicheader-bottom-text {
        display: none;
    }
}